.fishs {
  text-align: center;
  overflow: hidden;
  margin-top: 270px;
  text-align: center;

  &__img {
    margin: 10px;
    text-align: center;
    width: 140px;
    height: 100px;
  }
}
.fishs__img {
  position: relative;
  display: inline-block;
  transition: all 0.6s;
}

.fishs__img:hover {
  transform: scale(1.5);
}
