.fishs {
  text-align: center;
  overflow: hidden;
  margin-top: 270px;
  width: 300px;
  text-align: center;

  &__img {
    margin: 10px;
    text-align: center;
    width: 140px;
    height: 100px;
  }
}

