.img {
  width: 250px;
  height: 270px;
}
.comands {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
button {
  width: 200px;
  height: 40px;
  background-color: #fff;
  border: none;
  border: 1px solid black;
}

