.img {
  width: 250px;
  height: 270px;
}
.comands {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
button {
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
  }
}
.blog__content {
  display: flex;
  justify-content: space-around;
}
.blog__title,
.blog__title-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}
