.img {
  width: 250px;
  height: 270px;
}
.comands {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
button {
  margin-bottom: 20px;
  width: 300px;
  height: 40px;
}
.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__img {
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
  }
}
.blog__content {
  display: flex;
}
.blog__title,
.blog__title-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.modal-content{
  width: 70% !important;
}

@media screen and (max-width: 770px) {
  .blog__content{
    display: flex;
    flex-wrap: wrap;
  }

  .develop{
    margin-top: 10%;
  }
}








