.footer__span {
  border-top: 2px solid black;
}
.footer__title {
  padding-top: 20px;
  text-align: center;
}
.develop {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.Insta {
  width: 30px;
  height: 30px;
}
.Insta-blog {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
